{% extends "base.html"%}

{% block title%}
{{block.super}}Home
{% endblock %}
{% block bread %}
<li class="breadcrumb-item active">Home</li>

{% endblock %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Board</th>
        <th scope="col">Topic</th>
        <th scope="col">Posts</th>
        <th scope="col">Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
      <tr>
        <td>
            <a href="#">{{board.name}}</a>
            <br>
            <small> {{board.desc}}</small>
        </td>
       
        <td class="align-middle">0</td>
        <td class="align-middle">0</td>
        <td class="align-middle">-------</td>
      </tr>
      <tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}
